<p>View Task is Works!</p>
<script type="text/javascript">
	
	let tasks_list = document.createElement('ul');
	
	fetch('/api/tasks', {
		method: 'GET',
		headers: {
			'Accept' : 'application/json',
			'Content-Type' : 'application/json',
			'Authorization' : `Bearer ${sessionStorage.token}`
		}
	})
	.then(res => res.json())
	.then(data =>{ 
		console.log(data);
		data.tasks.map(Tarea =>{
			let text = document.createTextNode(Tarea.title);
			let element = document.createElement('li');
			element.appendChild(text);
			tasks_list.appendChild(element);
		});

		document.body.appendChild(tasks_list);
	});
</script>